<form #empfrm ="ngForm" (ngSubmit)="onSubmit(empfrm)" >
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="emploeeServise.selectedEmployee.$key">
  <div class="form-group">
    <label> Name </label>
    <input type="text" name="name" id="name" #name="ngModel" [(ngModel)]='emploeeServise.selectedEmployee.name' placeholder="Full name" required >
  </div>

  <div class="form-group">
      <label> Position </label>
      <input type="text" name="position" id="position" #position="ngModel" [(ngModel)]='emploeeServise.selectedEmployee.position' placeholder="Position" >
    </div>

    <div class="form-group">
        <label> Office </label>
        <input type="text" name="office" id="office" #office="ngModel" [(ngModel)]='emploeeServise.selectedEmployee.office' placeholder="Office" >
    </div>

    <div class="form-group">
        <div class="input-group">
        <label> Salary </label>
          <div class="input-group-addon">
            <i class="fa fa-dollar"></i>
          </div>
        <input type="text" name="salary" id="salary" #salary="ngModel" [(ngModel)]='emploeeServise.selectedEmployee.salary' placeholder="Salary" >
        </div>
      </div>

      <div class="form-group">

        <button type="submit" class="btn btn-default" [disabled]='!empfrm.valid' >Submit</button>
        <button type="submit" class="btn btn-default" (click)='resetForm(empfrm)'>Reset</button>

      </div>



</form>
